{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto px-4 sm:px-8 lg:px-32 py-8 flex-grow flex flex-col h-full">
    <h1 class="text-xl text-center mb-6">Créer une review</h1>
    <div class="flex flex-col border border-black px-6 pb-6 flex-grow">
        <h2 class="text-l text-start mb-6 px-4">Vous êtes en train de poster en réponse à</h2>
        <div class="flex flex-col border border-black py-6 flex-grow">
            <p>{% if review.ticket.user %}
                {{ review.ticket.user }}
            {% else %}
                {{ ticket.user }}
            {% endif %} a demandé une critique</p>
            <p>{% if review.ticket.title %}
                {{ review.ticket.title }}
            {% else %}
                {{ ticket.title }}
            {% endif %}</p>
            <p>{% if review.ticket.description %}
                {{ review.ticket.description }}
            {% else %}
                {{ ticket.description }}
            {% endif %}</p>
            {% if review.ticket.image %}
                <img src="{{review.ticket.image.url}}" alt="Couverture du livre {{ review.ticket.title }}" class="w-full h-auto">
            {% elif ticket.image %}
                <img src="{{ticket.image.url}}" alt="Couverture du livre {{ ticket.title }}" class="w-full h-auto">
            {% endif %}
        </div>

    </div>
    <div class="flex flex-col border border-black py-6 flex-grow">
        <h2 class="text-l text-start mb-6 px-4">Critique</h2>
        <form method="post" enctype="multipart/form-data" class="flex flex-col flex-grow px-32">
            {% csrf_token %}
            <div class="mb-4">
                <label for="title" class="block mb-2 text-sm font-bold text-gray-700">Titre</label>
                <input type="text" id="title" name="headline" value="{{ review_form.instance.headline }}"
                    class="border border-black w-full px-4 py-2 rounded-md focus:outline-none focus:border-blue-500" />
            </div>
            <div class="mb-4">
                <h2 class="block mb-2 text-sm font-bold text-gray-700">Note</h2>
                <fieldset class="rating">
                    <input type="radio" id="rating-0" name="rating" value="0" {% if review_form.instance.rating == 0 %}checked{% endif %} />
                    <label for="rating-0" title="0 étoile" class="mr-4">0</label>
                    <input type="radio" id="rating-1" name="rating" value="1" {% if review_form.instance.rating == 1 %}checked{% endif %}/>
                    <label for="rating-1" title="1 étoile" class="mr-4">1</label>
                    <input type="radio" id="rating-2" name="rating" value="2" {% if review_form.instance.rating == 2 %}checked{% endif %}/>
                    <label for="rating-2" title="2 étoiles" class="mr-4">2</label>
                    <input type="radio" id="rating-3" name="rating" value="3" {% if review_form.instance.rating == 3 %}checked{% endif %}/>
                    <label for="rating-3" title="3 étoiles" class="mr-4">3</label>
                    <input type="radio" id="rating-4" name="rating" value="4" {% if review_form.instance.rating == 4 %}checked{% endif %}/>
                    <label for="rating-4" title="4 étoiles" class="mr-4">4</label>
                    <input type="radio" id="rating-5" name="rating" value="5" {% if review_form.instance.rating == 5 %}checked{% endif %}/>
                    <label for="rating-5" title="5 étoiles" class="mr-4">5</label>
                </fieldset>
            </div>
            <div class="flex-grow flex flex-col mb-4">
                <label for="body" class="block mb-2 text-sm font-bold text-gray-700">Commentaire</label>
                <textarea id="body" name="body"
                    class="border border-black resize-none w-full flex-grow px-4 py-2 rounded-md focus:outline-none focus:border-blue-500">{{ review_form.instance.body }}</textarea>
            </div>
            <div class="flex justify-end mt-auto">
                <button type="submit"
                    class="px-6 py-3 bg-blue-500 text-white font-bold rounded-md hover:bg-blue-600">
                    Envoyer
                </button>
            </div>
        </form>
    </div>
    
{% endblock content %}